* {
  box-sizing: border-box;
}

body {
  overflow: visible;
}

.topPage {
  height: calc(100vh - 150px);
  padding-top: 30px;
  background-image: image-url("image2.jpg");
  background-size: cover;
  overflow-x: scroll;
}

.topNav {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  .navTime {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
  }
}
