.newList-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  border: 1px solid #ddd;
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  // height: auto;
}

.newList-container {
  text-align: center;
  .listText {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}
.newList-field {
  display: flex;
  align-items: center;
  .newList-fieldInput {
    margin: 0 auto;
    .listName-modal {
      width: 300px;
      line-height: 50px;
    }
  }
}

// closeアイコン用
.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}
